@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

@import "grid";
@import "variables";

h1, h2, h3, h4, h5, h6, p {
  font-family: $font-sans;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.85rem;
}
h4 {
  font-size: 1.7rem;
}

html,
body {
  background-color: $color-primary-darkest;
}

header {
  .usa-pride-banner {
    font-size: 1.5rem;
    color: white;
    background-color: $color-primary-darkest;

    .inner {
      padding: 0.5rem 1rem;
    }

    .spacer {
      width: 1.5rem;
      height: 1.5rem;
    }

    img { margin-top: 6px; }
  }

  .continually-header {
    background: $color-visited; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,$color-visited,$color-secondary-darkest,#AD6500,$color-green,$color-primary-darker,$color-visited);
    background: -o-linear-gradient(left,     $color-visited,$color-secondary-darkest,#AD6500,$color-green,$color-primary-darker,$color-visited);
    background: -moz-linear-gradient(left,   $color-visited,$color-secondary-darkest,#AD6500,$color-green,$color-primary-darker,$color-visited);
    background: linear-gradient(to right,    $color-visited,$color-secondary-darkest,#AD6500,$color-green,$color-primary-darker,$color-visited);

    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    line-height: 30px;

    .inner {
      padding: 1rem;
    }

    a {
      color: white;
      text-decoration: none;
    }

    .site-description {
      padding-top: 0.75rem;
    }
  }

  .site-description {
    font-size: 1.5rem;
    font-family: $font-sans;
    color: white;

    .inner {
      padding: 0.5rem 1rem;
    }
  }
}

.rounded {
  border-radius: 50%;
}

.page {
  background-color: white;
  min-height: 300px;

  h2, h3, h4 {
    margin-top: 1.5rem;
  }

  h1.value {
    font-size: 4rem;
  }

  .badges {
    margin-top: 1rem;
    svg {
      margin-right: 2rem;
    }
  }
}

footer {
  color: white;

  .our-logo {
    width: 33.333333%;
    max-width: 240px;
  }
  .tts-logo {
    width: 100%;
  }
}

// tablet
@media screen and (min-width: $tablet-break-point), screen and (max-height: $tablet-break-point) and (orientation: landscape) {
  .m-t-inner-left {
    padding-left: 1rem;
  }
}

// desktop
@media screen and (min-width: $desktop-break-point), screen and (min-height: $desktop-break-point) and (orientation: landscape) {
  .m-t-inner-left {
    padding-left: 1rem;
  }

  .recent-reports {
    padding-left: 3rem;
  }
}

.report-summary {
  padding: 1rem 0;

  .rounded.status-icon {
    height: 50px;
    width: 50px;
    font-size: 2rem;

    .inner {
      padding: 5px 10px;
    }

    background-color: $color-gold;

    &.good {
      background-color: $color-green-light;
      font-size: 3rem;

      .inner {
        padding-left: 12px;
      }
    }

    &.bad {
      background-color: $color-secondary-darkest;
      color: white;
    }
  }

  h4 { margin-top: 0; }
  h5 { font-weight: normal; margin: 0.5rem 0; }
  p { font-size: 1.5rem; }

  .spacer {
    width: 1rem;
  }
}

