<h2 class='pull-up'>About accessibility</h2>

<p>
Web accessibility allows people with disablities the same access to important online information as people without disabilities. The US government is committed to advancing web accessibility.
</p>

<p>There are a couple common standards for web accessibily:</p>
<ul>
  <li>
    <b><a href='https://www.section508.gov'>Section 508</a></b>: This standard was established by the US government as an amendment to the Rehabilitation Act.
  </li>
  <li>
    <b><a href='https://en.wikipedia.org/wiki/Web_Content_Accessibility_Guidelines'>WCAG</a></b>: WCAG stands for Web Content Accessibility Guidelines, and are a series of standards developed by the non-governmental organizations,
    <a href='https://en.wikipedia.org/wiki/Web_Accessibility_Initiative'>WAI</a> and <a href='https://en.wikipedia.org/wiki/World_Wide_Web_Consortium'>W3C</a>. The US government is switching from section 508 specifications to
    <a href='https://www.w3.org/WAI/WCAG2AA-Conformance'>WCAG2AA</a>.
  </li>
</ul>

<h3>Tools</h3>

<p>
There are already some great tools in the world for checking and managing accessibility that are part of Continua11y.
</p>

<ul>
  <li>
    <b><a href='https://www.squizlabs.com/general/html-codesniffer'>HTML_CodeSniffer</a></b>:
    This is a great browser bookmarklet that can be added to any HTML page to generate errors, warnings, notices and a related report. The tool will check a page for 508, WCAG2A, WCAG2AA or WCAG2AAA compliance.
  </li>
  <li>
    <b><a href='https://github.com/pa11y/pa11y'>pa11y</a></b>:
    Pa11y is a node.js module that wraps HTML_CodeSniffer inside a headless browser. That allows command line and CI usage.
  </li>
</ul>
