<div class='recent-reports'>
  <h3>Recent accessibility reports</h3>

  {{#recent_reports}}
    <a href='{{path}}' class='recent-summary'>
    {{> report_summary}}
    </a>
  {{/recent_reports}}
</div>
