<h1 class='value'>Make accessibility part of your build</h1>

<p>
We all intend to do the right thing. Building accessible websites is the right thing to do, but is easy to forget. Continua11y makes accessibility testing part of your software build process, so you can't forget to do the right thing.
</p>

<h2>Github &amp; CI integrations</h2>
<p>
Continua11y gets accessibility reports from CI and sends status updates to your github repository. That means that pull requests and branches have the latest information about accessibility.
</p>

<h2>Badges</h2>
<div class='badges'>
<svg xmlns="http://www.w3.org/2000/svg" width="134" height="20"><linearGradient id="ba" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><mask id="aa"><rect width="134" height="20" rx="3" fill="#fff"/></mask><g mask="url(#a)"><path fill="#555" d="M0 0h78v20H0z"/><path fill="#dfb317" d="M78 0h56v20H78z"/><path fill="url(#b)" d="M0 0h134v20H0z"/></g><g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11"><text x="39" y="15" fill="#010101" fill-opacity=".3">accessibility</text><text x="39" y="14">accessibility</text><text x="105" y="15" fill="#010101" fill-opacity=".3">7 errors</text><text x="105" y="14">7 errors</text></g></svg>

<svg xmlns="http://www.w3.org/2000/svg" width="134" height="20"><linearGradient id="bb" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><mask id="ab"><rect width="134" height="20" rx="3" fill="#fff"/></mask><g mask="url(#a)"><path fill="#555" d="M0 0h78v20H0z"/><path fill="#4c1" d="M78 0h56v20H78z"/><path fill="url(#b)" d="M0 0h134v20H0z"/></g><g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11"><text x="39" y="15" fill="#010101" fill-opacity=".3">accessibility</text><text x="39" y="14">accessibility</text><text x="105" y="15" fill="#010101" fill-opacity=".3">0 errors</text><text x="105" y="14">0 errors</text></g></svg>
</div>

<p>
Continua11y provides badges you can embed into your repo's README for up to date, flashy status on your accessibility. Easily copy and paste to get your badge.
</p>

<h2>Integrate accessibility into your build</h2>
<p>
Node and Ruby integrations are available to drop into your acceptance test.
</p>
<div class='inner-top inner-bottom'>
  <a class='usa-button' href='/setup'>Get started</a>
</div>
