@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

html,
body {
  background-color: #aeb0b5; }

@media screen and (max-width: 600px) {
  .mobile-hidden {
    display: none !important; } }

@media screen and (min-width: 600px) {
  .desktop-hidden {
    display: none !important; } }

.continually-header {
  display: block;
  background-image: url(/images/spectrum.png);
  background-size: cover;
  width: 100%;
  height: 70px;
  font-family: 'Dancing Script', cursive;
  font-size: 44px;
  border-top: 2px solid #aeb0b5;
  border-bottom: 2px solid #aeb0b5; }
  .continually-header a {
    color: white;
    text-decoration: none; }
  .continually-header .usa-grid {
    margin: 0;
    padding: 0; }
  .continually-header .text-logo {
    margin: 0.5rem auto 0;
    width: 200px;
    float: left;
    padding: 0 1rem; }
  .continually-header .description {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 7px;
    width: 300px;
    display: inline-block; }
  .continually-header .menu {
    width: 68px;
    height: 68px;
    float: left;
    background-color: #aeb0b5; }
  .continually-header .tts-logo {
    width: 66px;
    height: 66px; }

.usa-disclaimer {
  background-color: #aeb0b5;
  color: black;
  height: 20px;
  font-size: 1.25rem;
  padding: 3px 3px 3px 80px; }
  .usa-disclaimer .width-small-flag {
    margin-top: 2px;
    width: 32px;
    float: left; }
  .usa-disclaimer p {
    margin: 0; }

h3.description {
  margin: 1rem; }

.pull-up {
  margin-top: 0; }

.page {
  padding: 1rem;
  background-color: #f1f1f1;
  min-height: 300px; }

.panel {
  border: 2px solid #aeb0b5;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: white; }
  .panel h2, .panel h3, .panel h4 {
    margin: 1rem 0 -0.5rem; }
  .panel .badges {
    margin-top: 2rem;
    margin-bottom: -1rem; }
    .panel .badges svg {
      margin-right: 2rem; }

.usa-grid-full {
  max-width: none; }
