@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

html,
body {
  background-color: #f1f1f1; }

.continually-header {
  display: block;
  background-image: url(/images/spectrum.png);
  width: 100%;
  height: 70px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  border-top: 2px solid #02bfe7; }
  .continually-header a {
    color: white;
    text-decoration: none; }
  .continually-header .usa-grid {
    margin: 0;
    padding: 0; }
  .continually-header .text-logo {
    margin: 0 auto;
    width: 200px;
    float: left;
    padding: 0 3rem; }
  .continually-header .menu {
    width: 68px;
    height: 68px;
    float: left;
    background-color: #02bfe7; }

.menu-desktop {
  min-height: 2px;
  background-color: #323a45; }

.usa-disclaimer {
  background-color: #323a45;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem; }
  .usa-disclaimer .width-small-flag {
    margin-top: 2px;
    width: 32px;
    float: left; }
  .usa-disclaimer p {
    margin: 0; }
