<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site_title}}</title>
    <meta charset="utf-8">

    <!-- Put some js and css in here -->

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta property="og:title"       content="{{site_title}}">
    <meta property="og:site_name"   content="{{site_title}}">
    <meta property="description"    content="{{site_description}}">
    <meta property="og:description" content="{{site_description}}">
  </head>

  <body class='{{controller_namespace}}'>
    <!-- convert to uswds -->

    <a href="/" class="homelink">
      <div class="header text-center">Continua11y</div>
    </a>

    <div class="container">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div id="instructions" class="pull-right">
            <a href="/instructions">setup guide</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
