<div class='row panel'>
  <div class='inner'>
    <h1>Oh no!</h1>
    <h2>Are you lost?</h2>

    <p>
      Maybe if you go back to the last gas station and ask for directions?<br>
      Or maybe the <a href='/'>home page</a> could help.
    </p>
  </div>
</div>
