<div class='usa-grid-full'>
  <div class='usa-width-two-thirds panel'>
    {{> value}}
  </div>
  <div class='usa-width-one-third'>
    {{> recent}}
  </div>
</div>

<div class='usa-grid-full'>
  <div class='usa-width-two-thirds panel'>
    {{> about}}
  </div>
</div>
