<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site_title}}</title>
    <meta charset="utf-8">

    <link rel='stylesheet' href='/css/uswds.css'>
    <link rel='stylesheet' href='/css/site.css'>

    <script src='/js/uswds.js'></script>
    <script src='/js/site.js'></script>

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta property="og:title"       content="{{site_title}}">
    <meta property="og:site_name"   content="{{site_title}}">
    <meta property="description"    content="{{site_description}}">
    <meta property="og:description" content="{{site_description}}">
  </head>
  <body class='{{controller_namespace}}'>
    <header role="banner">
      <div class="usa-disclaimer">
        <div class="usa-disclaimer-official">
          <div class='width-small-flag'>
            <img src="/images/us_flag_small.png" alt="U.S. flag">
          </div>
          <div class='usa-width-five-sixths'>
            <p>An official website of the United States government</p>
          </div>
        </div>
      </div>

      <div class='continually-header'>
        <div class="usa-grid">
          <div class='menu'>
            <img src='/images/tts-square.png' alt='tts logo' class='tts-logo'>
          </div>
          <a href="/" class="text-logo">Continua11y</a>
          <span class='description mobile-hidden'>{{site_description_small}}</span>
        </div>
      </div>
      <p class='description desktop-hidden'>{{site_description_small}}</p>
    </header>

    <a href="https://github.com/18f/continu-a11y" class='mobile-hidden'>
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
    </a>

    <div class='page'>
      {{> page}}
    </div>
  </body>
</html>
