<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site_title}}</title>
    <meta charset="utf-8">

    <link rel='stylesheet' href='/css/uswds.css'>
    <link rel='stylesheet' href='/css/site.css'>

    <script src='/js/uswds.js'></script>
    <script src='/js/site.js'></script>

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta property="og:title"       content="{{site_title}}">
    <meta property="og:site_name"   content="{{site_title}}">
    <meta property="description"    content="{{site_description}}">
    <meta property="og:description" content="{{site_description}}">
  </head>
  <body class='{{controller_namespace}}'>
    <header role="banner">
      <div class="usa-disclaimer">
        <div class="usa-disclaimer-official usa-grid">
          <div class='width-small-flag'>
            <img src="/images/us_flag_small.png" alt="U.S. flag">
          </div>
          <div class='usa-width-five-sixths'>
            <p>An official website of the United States government</p>
          </div>
        </div>
      </div>

      <div class='continually-header'>
        <div class="usa-grid">
          <div class='menu'>&nbsp;</div>
          <a href="/" class="text-logo" alt='home'>Continua11y</div>
        </a>
      </div>

      <div class='menu-desktop'>
        &nbsp;
      </div>
    </header>

    {{> page}}
  </body>
</html>
